<!DOCTYPE html>
<html lang="pt-br" id="regi">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../styles/main.css" />
	
	<!-- IMPORT ANGULAR JS 1.4.8-->
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <title>MyTravel - Book flight</title> 
    
    <body id="body-book-flight"> 
        <div ng-app="bookFlightApp" ng-controller="bookFlightCtrl" >
            <!--HEADER-->
            <div id="header-book">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand">
                        <a class="nav-link active" href="../index.html">
                            <img class="card-img-top" style="width: 15%; margin-left: 10%" src="../assets/logo-white-my-travel.png" alt="Card image cap">
                        </a>
                    </a>
                </nav>
            </div>

        <!-- MAIN BODY -->
        <main role="main">
        <!-- FORM WITH LOGO + REGISTER -->
        <form action="#" name="mainForm">

            <div class="outer" id="main-book">
                <div class="inner container">
                    <img class="vertical-center" src="../assets/logo-blue-my-travel.png" href="#" alt="main logo" style="max-width: 50%; height: auto; width: auto\9; /* ie8 */">
                </div>
                
                <div class="book-box">
                    
                    <h2>BOOK FLIGHT</h2>
                    <h2 ng-show="isOneWay">{{flight.departureAirport.airportName}} -> {{flight.arrivalAirport.airportName}}</h2>
                    <h2 ng-show="!isOneWay">{{flight.departureFlight.departureAirport.airportName}} -> {{flight.departureFlight.arrivalAirport.airportName}}</h2>
                    <br>
                    <h2 ng-show="!isOneWay">{{flight.returnFlight.arrivalAirport.airportName}} -> {{flight.returnFlight.departureAirport.airportName}}</h2>
                    <form style="text-align: center;" name="registerForm">
                        <div class="user-box">
                            <input type="text" ng-model="passenger.firstName" ng-required="true" required>
                            <label>First name</label>
                        </div>
                        <div class="user-box">
                            <input type="text" ng-model="passenger.lastName" ng-required="true" required>
                            <label>Last Name</label>
                        </div>
                        <div class="user-box">
                            <input type="date" ng-required="true" ng-model="passenger.birthDateString" min="{{date | date:'MM/dd/yyyy'}}" max="12/25/2030" required class="form-control">
                            <label>Birthday date</label>
                        </div>
                        <div class="user-box">
                            <input type="text" ng-model="passenger.passportNumber" ng-required="true" required>
                            <label>Passport number</label>
                        </div>
                        <div class="user-box">
                            <input type="text" ng-model="ticket.seatNumber" ng-required="true" required>
                            <label>Seat number</label>
                        </div>
	                    <div class="form-check">
							  <input ng-model="ticket.extraLuggage" ng-click="doClick('extraLuggage',ticket.extraLuggage)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							  <label class="form-check-label" for="flexCheckDefault">Extra luggage</label>
						</div>
						<div class="form-check">  
							<input ng-model="ticket.transportFromAirport" ng-click="doClick('transportFromAirport',ticket.transportFromAirport)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">Transport from airport</label>
						</div>
						<div class="form-group" style="justify-content: space-between;margin-top: 1%;">
	                    	<label for="passengers" style="font-size: 0.9rem; text-transform: uppercase; letter-spacing: 0.08rem; font-weight: 600; color: var(--light); transform: scale(1);">Preferred meal</label>
	                        <select ng-init="ticket.mealType = data.mealType[0]" name="mealType" class="form-control" ng-required="true" ng-model="ticket.mealType" id="mealType">
	                        	<option ng-repeat="option in data.mealType" ng-value="{{option}}">{{option}}</option>
	                        </select>
	                    </div>
                        <h2>TOTAL:</h2>
                        <h2>€ {{ticket.price}}</h2>
                        <a ng-click="doClick('book')" href="">BOOK</a>
                        <div class="alert alert-primary d-flex align-items-center" ng-show="registerForm.$error.required && activeRegister" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <div>
                              Please fill all the required fields.
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
        </main>
        </div>
        </body>

        <!-- JS -->
        <script src="../scripts/book_flight.js"></script>
        
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script src="../scripts/bootstrap.min.js"></script>
    </body>
</html>