body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%; 
    background-image: url("../assets/background-london.jpg");
    background-position: center; /* Center the image */
    background-color: #000000;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
footer p {
    margin-bottom: .25rem;
}

#header{
    width: 100%;
    transition: background ease-out 0.2s;
}

#mytravel-navbar{
    background-color: var(--primary);
    width: 100%;
    transition: background ease-out 0.2s;
}


#header.active {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(116,131,151,0.8);
    z-index: 9999;
}
  
#header .navbar-collapse {
    width: auto;
}

#header .navbar-brand{
    color: var(--light);
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: var(--light);
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    color: var(--grey);
}

#bg{
    
    background-color: rgba(255, 255, 255, 0.0); /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat:repeat;
    background-size: cover; /* Resize the background image to cover the entire container */

}

.vertical-center {
    display: table;
    margin: 0 auto;
    margin-top: 7%;
  }


#bg > div > div.container > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bg > div > div.input-group.mb-3 > div > ul > li > a{
    text-decoration: none;
    color: var(--grey);
  }

#bg > div > div.input-group.mb-3 > div > ul > li > a:hover{
    text-decoration: none;
    color: var(--black);
}

#main-form{
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 2%;
    position: relative;
}

#btnOneway, #btnRoundTrip{
    display: inline-block;
    vertical-align: top;
}

.navbar-toggler-icon{
    color: var(--grey);
}

#me .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: var(--light);
    border-bottom: solid 4px transparent;
}

#me .nav-link:hover {
    color: var(--light);
    text-decoration: underline;
}


.album-bg{
    background-color: rgba(116,131,151,0.8);
    padding: 5px;
}

.block{
    background-color: var(--light);
}

.card-img-top{
    width: 100%;
    height: 60%;
}

.card{
    height: 100%;
}

.card-body{
    min-height: 30%;
    max-height: 20%;
    margin-bottom: 4%;
}

.card-btn{
    position: absolute;
    left: 5%;
    bottom: 4%;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color:transparent;
}

.jumbotron p:last-child {
    margin-bottom: 0;
  }
  
.jumbotron-heading {
    font-weight: 300;
}
  
.jumbotron .container {
    max-width: 40rem;
}

.btn-primary {
    margin-bottom: 1%;
    color: var(--light);
    background-color: var(--primary);
    border-color: var(--primary); /*set the color you want here*/
    width: 100%;
}

.btn-primary:hover {
    margin-bottom: 1%;
    color: var(--light);
    background-color: var(--ternary);
    border-color: var(--ternary); /*set the color you want here*/
}

.btn-outline-secondary {
    margin-bottom: 1%;
    color: var(--primary-dark);
    background-color: var(--light);
    border-color: var(--light); /*set the color you want here*/
}

.btn-outline-secondary:hover, .btn-outline-secondary:checked, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
    color: var(--light);
    background-color: var(--primary);
    border-color: var(--primary); /*set the color you want here*/
}

.navlink-separator{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: var(--grey);
    border-bottom: solid 4px transparent;
    padding: 10px;
}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(116,131,151,0.8);; }

.wrapper {
    max-width: 100%;
}

.wrapper form {
    padding: 30px 50px;
}

.wrapper form .form-group {
    padding-bottom: .5rem;
}

.wrapper form .option {
    cursor: pointer;
}

.wrapper form .option input {
    display: none;
}

.wrapper form .checkmark {
    background-color: var(--light);
}

.wrapper form .option input:checked~.checkmark:after {
    display: block;
}

.wrapper form .option .checkmark:after {
    background-color: var(--primary);
    border-color: var(--primary);
}

.wrapper form .option:hover input[type="radio"]~.checkmark {
    background-color: var(--primary);
    border-color: var(--primary);
}

.wrapper form .option input[type="radio"]:checked~.checkmark {
    background: var(--primary);
    color: var(--light);
    border-color: var(--primary);
}

.wrapper form .option input[type="radio"]:checked~.checkmark:after {
    color: var(--light);
    border-color: var(--primary);
}

.wrapper form a {
    color: #333;
}

.all-forms {
    background-color: rgba(255, 255, 255,0.3);
    padding: 0%;
}

.wrapper form .form-control {
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.7)
}

.wrapper form .form-control:focus {
    box-shadow: none;
}

.wrapper form input[type="text"]:focus::placeholder {
    color: transparent
}

input[type="date"] {
    cursor: pointer;
}

.wrapper form .label::after {
    position: absolute;
    /* background-color: #fff; */
    top: 10%;
    left: 10%;
    font-size: 0.9rem;
    /* margin: 0rem 0.4rem; */
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-weight: 600;
    color: var(--light);
    transition: all .2s ease-in-out;
    transform: scale(0);
}

.wrapper form .label#from::after {
    content: 'From';
}

.wrapper form .label#to::after {
    content: 'To';
}

.wrapper form .label#depart::after {
    content: 'Depart Date';
}

.wrapper form .label#return::after {
    content: 'Return Date';
}

.wrapper form .label#psngr::after {
    content: 'Traveller(s)';
}

.wrapper form input[type="text"]:focus~.label::after {
    top: 10%;
    left: 10%;
    transform: scale(1);
}

.wrapper form input[type="date"]:focus~.label::after {
    top: -5px;
    left: 0px;
    transform: scale(1);
}

/* Margin */
.margin {
    margin: 2rem 0rem;
}

/* Media Queries */
@media(max-width: 575.5px) {
    .wrapper {
        margin: 10px;
    }

    .wrapper form {
        padding: 20px;
    }

    .margin {
        margin: .2rem 0rem;
    }
}

/* Media Queries */
@media(max-width: 575.5px) {
    .wrapper {
        margin: 10px;
    }

    .wrapper form {
        padding: 20px;
    }

    .margin {
        margin: .2rem 0rem;
    }
}